@font-face {
  font-family: "Orange-Garden";
  src: url("fonts/Orange-Garden-BF6479b5466636b.otf")
  }

@font-face {
  font-family: "Hello Austin";
  src: url("fonts/Hello-Austhin-BF6478aaf3347d8.ttf")
}

@font-face {
  font-family: "Kimberlie Display";
  src: url("fonts/Kimberlie-BF64723c3f526c0.otf");
}

@font-face {
  font-family: "Staylove";
  src: url("fonts/staylove-6ymv1.otf")
}

@font-face {
  font-family: "Hatboury";
  src: url('fonts/Hatboury-Glenstar-BF6475be0eebe09.otf')
}
/* BASIC RESETS */
html,
body {
  font-family: 'Merriweather', sans-serif;    
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  color: rgb(102, 93, 93);
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0 !important;
}

strong {
  font-weight: 900;
}

[class*="fade-"] {
  opacity: 0;
}

.reveal {
  opacity: 0
}

.reveal-visible {
  opacity: 1;
  transition: 2s cubic-bezier(.5, .0, 0, 1);
}

.fade-visible {
  opacity: 1;
  transition: 10s cubic-bezier(.5, .0, 0, 1);
}

.fade-1 {
  transition-delay: 0s;
}

.fade-2 {
  transition-delay: .5s;
}

.fade-3 {
  transition-delay: 2s;
}

/********* HERO **************/
/* HERO */
.hero {
  height: 100vh;
  background: url(images/Back-mountains.png), #E4F9F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

.hero::after {
  content: '';
  position: absolute;
  background: url(images/clouds-bottom.svg);
  bottom: -2.7rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
}

.mountains {
  overflow: hidden;
  height: 50%;
}

.left-mountain img {
  position: absolute;
  left: -10rem;
  bottom: 0;
  z-index: -1;
  width: clamp(20rem, 90vh, 70rem);
  height: auto;
}
.right-mountain {
  overflow: hidden;
  z-index: -1;
}

.right-mountain img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

/* NAVBAR BOOTSTRAP*/

header {
  height: 3rem;
  padding: 3rem;
}

#navbarNav {
  position: fixed;
  z-index: 1000000000;
}

nav .navbar {
  z-index: 15000;
  padding: 2rem 2rem .5rem;
  position: absolute;
}

.navbar-toggler-icon {
  color: #11999E;
}

.navbar-toggler {
  position: relative;
  z-index: 10000!important;
}

.nav-link {
  padding-left: 2rem;
  font-size: 1.3vh;
  position: relative;
}

nav .navbar-nav li a{
  color: #11999E !important;
  transition: color 0.3s ease;
  padding: 1.5rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

nav .navbar-nav li a:hover {
  color: #CFB1D4 !important;
  transition: color 0.3s ease;
}

.navbar-nav {
  padding-right: 5rem;
}

/* Effet nav-link */
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #CFB1D4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* MAIN HEADING */
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.heading-first {
  font-family: 'Sacramento', cursive;
  font-size: clamp(75px, 22vw, 150px);
  font-weight: 600;
  letter-spacing: 5px;
  color: #00b894;
  text-shadow: 1px 1.3px 1px rgb(177, 175, 175);
  box-sizing: border-box;
  z-index: 2;
  width: auto;
  text-align: center;
  margin: 5rem 2rem 0;
}

.heading-second {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 2rem;
  font-weight: 200;
  line-height: 2.3rem;
  width: 100%;
  margin: auto;
}


/*  ANGE  */
.angel {
margin: auto;
display: flex;
justify-content: center;
position: relative;
margin-top: 3rem;
}

.angel-img {
  width: clamp(17rem, 10vh, 20rem);
  animation: 8s ease-in-out 1s infinite alternate angeVole;
  z-index: 2;
  position: absolute;
  padding-top: 1rem;
}

.bulle-img {
  width: 7.5vh;
  position: absolute;
  right: 6rem;
  animation: 8s ease-in-out 1s infinite alternate angeVole;
}

/* Animation de l'ange (à affiner) */
@keyframes angeVole {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  
  }
  55% {
    transform: translateY(20px) translateX(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CLOUDS */
.animation {
  overflow-x: hidden;
  z-index: 1;

  top: 0 ;
}

.cloud-first {
  display: inline-block;
  height: auto;
  animation: 20s ease-out 0s infinite running cloud-first-fly;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  margin: 2rem;
  overflow-x: hidden;
}

.cloud-first img {
  width: 9rem;
  height: auto;
  position: relative;
  box-sizing: border-box;
  z-index: -1;
  opacity: .9;
  overflow-x: hidden;

}

@keyframes cloud-first-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-100px);
  }
  50% {
      background-repeat: no-repeat;
  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(+2500px);
  }
}

.cloud-second {
  display: inline-block;
  animation: 70s ease-out 0s infinite running cloud-second-fly;
  position: absolute;
  top: 12rem;
  box-sizing: border-box;
  z-index: -1;
  overflow-x: hidden;

}

.cloud-second img {
  width: 9rem;
  position: relative;
  box-sizing: border-box;
  opacity: .9;
  overflow-x: hidden;

}

@keyframes cloud-second-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-100px) translateY(70px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(2000px);
  }
}

.cloud-third {
  display: inline-block;
  position: absolute;
  animation: 300s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite running cloud-third-fly;
  top: 25rem;
  left: 15rem;
  overflow-x: hidden;

}

.cloud-third img {
  width: 6rem;
  overflow-x: hidden;

}

@keyframes cloud-third-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-600px) translateY(70px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(2000px);
  }
}

.cloud-fourth {
  display: inline-block;
  position: absolute;
  top: 12rem;
  left: 7rem;
  z-index: -1;
  overflow-x: hidden;

}

.cloud-fourth img {
  width: 4rem;
  box-sizing: border-box;
  overflow-x: hidden;

}

.cloud-fifth {
  display: inline-block;
  position: absolute;
  top: 11rem;
  right: 2rem;
  z-index: -1;
  transform: rotateY(180deg);
  overflow-x: hidden;

}

.cloud-fifth img {
  width: 5rem;
  opacity: .8;
  overflow-x: hidden;

}

.cloud-sixth {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: -1;
  transform: rotateY(180deg);
  opacity: .7;
  overflow-x: hidden;

}

.cloud-sixth img {
  width: 6rem;
  opacity: .9;
  overflow-x: hidden;

}

.cloud-seventh {
  display: inline-block;
  position: absolute;
  animation: 120s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s infinite running cloud-seventh-fly;
  top: 20rem;
  z-index: -1;
  overflow-x: hidden;

}

.cloud-seventh img {
  width: 4rem;
  box-sizing: border-box;
  overflow-x: hidden;

}

@keyframes cloud-seventh-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-500px) translateY(70px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(2000px);
  }
}

.cloud-eigth {
  display: inline-block;
  width: 100px;
  height: auto;
  animation: 300s ease-out 0s infinite running cloud-eigth-fly;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  margin: 2rem;
  top: 50vh;
  overflow-x: hidden;
}

.cloud-eigth img {
  width: 7rem;
  opacity: .8;
  overflow-x: hidden;

}

@keyframes cloud-eigth-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-600px);
  }
  50% {
      background-repeat: no-repeat;
  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(4000px);
  }
}

/* MAIN */

.main-section {
  background: white;
}

/* INTRODUCTION */
.introduction {
  margin: 1rem 0 0;
  position: relative;
  width: 100%;
}

.fa-quote-left {
  top: -30px;
  left: -20px;
  position: relative;
}

.fa-quote-right {
  position: relative;
  left: 40px;
  bottom: -30px;

}

/* PROFILE-SECTION */
.profile-section {
  background: white;
  min-height: 30vh;
  z-index: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-left {
  display: flex;
  max-width: 100%;
  position: relative;
  align-items: center;
}

.profile-image {
  width: clamp(20rem, 22vw, 30rem);
  object-fit: contain;
  /* border-radius: 20vw; */
  transform: scaleX(-1);
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: linear-gradient(white, white, rgb(245, 243, 243)); */
}


.profile-title {
  margin: 8vh auto 0;
  text-align: center;
  width: 100%;
  color: #0B9FA1;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orange-Garden';
  font-family: 'Kimberlie Display';
}

span.first-letter {
  color: #CFB1D4;
  font-size: clamp(3rem, 4vh, 4rem);
  font-weight: bolder;
}

span.second-letter {
    color: #00b894;
    font-size: clamp(2rem, 3vh, 3rem);
}

.profile-text {
  text-align: justify;
  padding: 1rem;

}

/* SERVICES SECTION */
.services-section {
  position: relative;
  z-index: 0;
  margin: 2rem;
  margin-top: 0;
  background-color: #FFFFFF;
}

#services h3 {
  font-weight: bold;
}

.row-services-section {
  background: white;
}

.card {
  position: relative;
  z-index: 10000;
  background: transparent;
}

.card-img-top {
  width: 8vw;
  margin: auto;
  padding-bottom: 5%;
}

.card-services{
  padding: 3%;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.list-group-item {
  background: transparent;
}

.cloud-anim-one {
  animation: 8s ease-in-out 1s infinite alternate cloud-anim-one;
}

@keyframes cloud-anim-one {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud-anim-two {
  animation: 20s ease-in-out 1s infinite alternate cloud-anim-two;
}

@keyframes cloud-anim-two {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud-anim-three {
  animation: 30s ease-in-out 1s infinite alternate cloud-anim-three;
}

@keyframes cloud-anim-three {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(7px);
  
  }
  55% {
    transform: translateY(19px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CLOUD DIVIDER */
.cloud-divider {
  background: white;
  margin: auto;
  width: 12rem;
  cursor: pointer;
}

/* TESTIMONIALS */

#testimonials {
  text-align: center;
  background-color: #abdbc3;
  color: #FFF;
  position: relative;
  margin: 0;
}

#testimonials::before {
  content: '';
  position: absolute;
  background: url(images/clouds-bottom.svg);
  left: 0;
  right: 0;
  width: 100%;
  height: 8vh;
  transform: rotate(0.5turn);
  top: -2vh;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-text {
  margin-top: 0;
  margin-bottom: 3rem;
}

.testimonial-stars i {
  font-size: 1rem;
}

.testimonial-image {
  min-width: 100px;
  max-width: 200px;
  margin: auto;
  margin-bottom: 1rem;
}

.carousel-item {
  padding: 7% 15%;
  height: 600px;
}

.carousel-inner {
  padding-top: 3rem;
}

/* CLIENTS */

.clients-banner {
  background-image: url('images/aerial-view-businessman-using-computer-laptop.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CLIENTS CARDS */
.card-big-shadow {
  max-width: 320px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius="none"] {
  border-radius: 0px;
}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}


.card[data-background="image"] .title, .card[data-background="image"] .stats, .card[data-background="image"] .category, .card[data-background="image"] .description, .card[data-background="image"] .content, .card[data-background="image"] .card-footer, .card[data-background="image"] small, .card[data-background="image"] .content a, .card[data-background="color"] .title, .card[data-background="color"] .stats, .card[data-background="color"] .category, .card[data-background="color"] .description, .card[data-background="color"] .content, .card[data-background="color"] .card-footer, .card[data-background="color"] small, .card[data-background="color"] .content a {
  color: #FFFFFF;
}
.card.card-just-text .content {
  text-align: center;
}
.card .content {
  padding: 20px 20px 10px 20px;
}


.card[data-color="blue"] .category {
  color: #7a9e9f;
}

.card .category, .card .label {
  font-size: 14px;
  margin-bottom: 0px;
}
.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.card .description {
  font-size: .9rem;
  padding: 1rem;
  color: #66615b;
}
.content-card {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
a:hover, a:focus {
  text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color="blue"] {
  background: #b8d8d8;
}
.card[data-color="blue"] .description {
  color: #506568;
}

.card[data-color="green"] {
  background: #d5e5a3;
}
.card[data-color="green"] .description {
  color: #60773d;
}
.card[data-color="green"] .category {
  color: #92ac56;
}

.card[data-color="yellow"] {
  background: #ffe28c;
}
.card[data-color="yellow"] .description {
  color: #b25825;
}
.card[data-color="yellow"] .category {
  color: #d88715;
}

.card[data-color="brown"] {
  background: #d6c1ab;
}
.card[data-color="brown"] .description {
  color: #75442e;
}
.card[data-color="brown"] .category {
  color: #a47e65;
}

.card[data-color="purple"] {
  background: #baa9ba;
}
.card[data-color="purple"] .description {
  color: #3a283d;
}
.card[data-color="purple"] .category {
  color: #5a283d;
}

.card[data-color="orange"] {
  background: #ff8f5e;
}
.card[data-color="orange"] .description {
  color: #772510;
}
.card[data-color="orange"] .category {
  color: #e95e37;
}

/* DIVIDER SHAPE FILL */
.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
  transform: rotateX(180deg);
  position: relative;
  bottom: -10px;
}

.elementor-shape-fill {
  fill: #05878e;
}

/* ABOUT ME */
#about-me {
  background-color: #05878e;
  padding: 2rem 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: visibility 1s ease-in;
  opacity: 0;
  padding: 4rem;
}

.container-scores {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #21242b;
  font-size: 1rem;
  border-radius: .5rem;
  border-bottom: 10px solid #00b894;
}

i {
  color: #00b894;
  font-size: 2.5rem;
  text-align: center;
}

  .num {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
  }

  .text {
    color: #e0e0e0;
  }

.is-visible {
  opacity: 1;
  transition: opacity .4s ease-in;
}

@media screen and (width <= 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container {
    width: 100%;
  }
}

/* CONTACT */

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #00b894;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

/* Contact Specs */
.contact-specs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-inner {
  display: flex;
  justify-content: center;
}

.contact-inner a {
  text-decoration: none;
  margin: 1rem;
}

.fa-phone {
  display: block;
}

.contact-specs-title {
  font-weight: 900;
}

/* FOOTER */

footer {
  background-color: #444442;
  min-height: 10vh;
  color: white;
  display: flex;
  align-items: flex-end;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.made-by {
  font-family: 'Hatboury';
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.made-by:hover {
  color: grey;
}

.mentions-legales {
  cursor: pointer;
  color: white;
}

.nb {
  width: 1.5rem;
  color: white;
}

/* LOADER */

.loader {
  position: absolute;
  overflow-x: hidden;
  z-index: 1000000;
  height: 120vh;
  width: 100vw;
  top: 0 ;
}

.loader-left {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  animation-iteration-count: 1;
  animation: 25s cubic-bezier(0.23, 1, 0.320, 1) 1 slideToLeft;
  z-index: 10000;
}

.loader-left::after {
  content: '';
  background: url(images/clouds-bottom-left.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.loader-right {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  z-index: 1;
  animation-iteration-count: 1;
  animation: 20s cubic-bezier(0.23, 1, 0.320, 1) slideToRight;
  right: 0;
}

.loader-right::before {
  content: '';
  background: url(images/clouds-bottom-right.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 130%;
  height: 100%;
  position: absolute;
  right: 50%;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(+200%);
    opacity: 0;
  }
}

/********** MEDIAS QUERIES **************/


/* ***********   MOBILE PORTRAIT     *********** */

@media screen and (max-width: 600px) {
  .left-mountain img {
    width: 30rem;
  }

  .right-mountain img {
    width: 30rem;
    left: 13rem;
  }
  /* .hero {
    width: 100%;
    height: 102vh;
    background: url(images/Back-mountains.png), #E4F9F5;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    position: relative;
    left: 0;
    overflow: hidden;
  }

  .hero::after {
    content: '';
    position: absolute;
    background: url(images/clouds-bottom.svg);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4vh;
  }

  .animation {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    height: 120vh;
    width: 100vw;
    top: 0;
  }

  .nav-list {
    display: none;
  }

  .nav-link {
    padding-left: 2rem !important;
    font-size: .6rem;
    font-size: 1.3vh !important;
  }

  .left-mountain {
    overflow: hidden;
  }

  .left-mountain img {
    position: absolute;
    left: -11.3rem;
    bottom: 0;
    width: 120%;
  }

  .right-mountain {
    overflow: hidden;
  }
  
  .right-mountain img {
    position: absolute;
    left: 10rem;
    bottom: 0;
    width: 127%;
    z-index: -1;
  }

  .cloud-first {
    display: inline-block;
    width: 100px;
    height: auto;
    animation: 300s ease-out 0s infinite running cloud-first-fly;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    margin: 2rem;
    overflow-x: hidden;
  }

  .cloud-first img {
    width: 3rem;
    height: auto;
    position: relative;
    box-sizing: border-box;
    z-index: -1;
    opacity: .9;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .heading-first {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    letter-spacing: 5px;
    color: #00b894;
    text-shadow: 1px 1.3px 1px gray;
    box-sizing: border-box;
    z-index: 1;
    width: auto;
    text-align: center;
    line-height: 1.1;
    padding: 1rem;
    margin: 0;
  }

  .heading-second {
    font-family: 'Playfair Display', serif;
    width: 81%;
    margin: auto;
    padding-top: 1.2rem;
    line-height: 1.7rem;
    font-weight: 200;
  }

  span.first-letter {
    color: #CFB1D4;
    font-size: 1.6rem;
    font-weight: bolder;
  }
  span.second-letter {
      color: #00b894;
      font-size: 1.2rem;
  }
 
  .angel {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    }
    
  .angel-img {
    width: 8rem;
    animation: 8s ease-in-out 1s infinite alternate angeVole;
    z-index: 10;
    position: absolute;
  }

  .bulle-img {
    width: 9.5vh;
    position: absolute;
    right: 4rem;
    top: 1rem;
    animation: 8s ease-in-out 1s infinite alternate angeVole;
  }

  .profile-title {
    font-size: 1.2rem;
    margin: 5vh auto 0;
    color: #0B9FA1;
  }

  .profile-left {
    display: flex;
    max-width: 100%;
    margin: 0;
  }
  
  .profile-image {
    width: 13rem;
    transition: ease 2s filter;
    margin-bottom: 0;
  }
  
  .profile-right {
    display: flex;
    flex-direction: column;
  }


  .cloud-divider {
    background: white;
    margin: auto;
    width: 7rem;
  }

  .card-img-top {
    width: 8vh;
    margin: auto;
    padding-bottom: 10%;
  }
  
  .card-services{
    padding: 3%;
  }

  .card-title {
    font-size: 1.2rem;
  } */

}
/* ***********   MOBILE PAYSAGE     *********** */
@media screen and (max-height: 600px) and (orientation: landscape) {

  .heading-first {
    font-size: clamp(40px, 10vw, 140px);
  }

  .angel {
    top: -50px;
  }

  .angel img {
    width: 12rem;
  }

  /* .hero::after {
    content: '';
    position: absolute;
    background: url(images/clouds-bottom.svg);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
  }

  .animation {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    height: 120vh;
    width: 100vw;
    top: 0 ;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
  }
  
  .nav-list {
    display: none;
    list-style: none;
    padding: .5rem;
  }

  .nav-link {
    padding-left: 2rem !important;
    font-size: .7rem;
  }

  .heading-first {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    letter-spacing: 5px;
    color: #00b894;
    text-shadow: 1px 1.3px 1px gray;
    box-sizing: border-box;
    z-index: 1;
    width: auto;
    text-align: center;
    line-height: 1.1;
    padding: .3rem;
    padding-top: 0;
    width: 85%;
    margin: auto;
    margin-bottom: 0;
  }

  .heading-second {
    font-family: 'Playfair Display', serif;    padding: 0;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
  }

  span.first-letter {
    color: #CFB1D4;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  span.second-letter {
    color: #00b894;
    font-size: 1rem;
  }

  .angel {
    margin: auto;
    display: flex;
    justify-content: center;
    }

  .angel-img {
    width: 7rem;
    animation: 8s ease-in-out 1s infinite alternate angeVole;
    z-index: 10;
    position: absolute;
  }

  .bulle-img {
    width: 17vh;
    position: absolute;
    top: -1rem;
    right: 3rem;
  }

  .cloud-first {
    display: inline-block;
    width: 100px;
    height: auto;
    animation: 300s ease-out 0s infinite running cloud-first-fly;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    margin: 2rem;
    overflow-x: hidden;
  }

  .cloud-first img {
    width: 3rem;
    height: auto;
    position: relative;
    box-sizing: border-box;
    z-index: -1;
    opacity: .9;
  }

  .cloud-second {
    display: inline-block;
    animation: 70s ease-out 0s infinite running cloud-second-fly;
    position: absolute;
    top: 12rem;
    box-sizing: border-box;
    z-index: -1;
  }
  
  .cloud-second img {
    width: 3rem;
    height: 1rem;
    position: relative;
    box-sizing: border-box;
    opacity: .9;
  }

  .profile-section {
    background: white;
    min-height: 30vh;
    z-index: 0;
    position: relative;
  }
  
  .profile-left {
    display: flex;
    max-width: 100%;
    position: relative;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .profile-image {
    width: 10rem;
    transition: ease 2s filter;
    margin-bottom: 2rem;
  }

  .profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 2rem;
  }
  
  .profile-title {
    text-align: center;
    font-size: 1.2rem;
    width: 100px;
    color: #0B9FA1;
  }
  
  .profile-text {
    text-align: justify;
  }

  .card-title {
    font-size: 1.2rem;
  } */
}

/***** IPAD PORTRAIT ******/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  /* .animation {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    height: 120vh;
    width: 100vw;
    top: 0 ;
  }

  .nav-link {
    font-size: 1rem;
  }

  .heading-first {
    font-family: 'Sacramento', cursive;
    font-size: 7.5rem;
    letter-spacing: 5px;
    color: #00b894;
    text-shadow: 1px 1.3px 1px rgb(204, 203, 203);
    box-sizing: border-box;
    z-index: 1;
    width: auto;
    text-align: center;
    margin: 1rem 2rem;
  }

  .heading-second {
    font-family: 'Playfair Display', serif;    text-align: center;
    margin: auto;
    margin-top: 1.7rem;
    margin-bottom: 3rem;
    font-weight: 200;
    line-height: 2.3rem;
    width: 57%;
  }

  .angel {
    margin: auto;
    display: flex;
    justify-content: center;
  }
    
  .angel-img {
    width: 14rem;
    animation: 8s ease-in-out 1s infinite  alternate angeVole;
    z-index: 10;
    position: absolute;
  }

  .angel {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    }

  .left-mountain img {
    position: absolute;
    left: -10rem;
    bottom: 0;
    width: 96%;
  }

  .right-mountain {
    overflow: hidden;
  }
  
  .right-mountain img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    transform: scaleX(-1);
  }

  .profile-title {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    color: #0B9FA1;

  } */
}

/****** IPAD PAYSAGE ******/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  /* .hero {
    height: 103vh;
    background: url(images/Back-mountains.png), #E4F9F5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .navbar {
    padding: 1rem 2rem;
  }

  nav .navbar-nav li a{
    color: #11999E !important;
    transition: color 0.3s ease;
    padding: 1.5rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  a.nav-link {
    font-size: .8rem;
  }
  
  .heading-first {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    letter-spacing: 5px;
    color: #00b894;
    text-shadow: 1px 1.3px 1px rgb(204, 203, 203);
    box-sizing: border-box;
    z-index: 1;
    width: auto;
    text-align: center;
    margin-top: 3rem;
  }

  .heading-second {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: auto;
    font-weight: 200;
    line-height: 2.3rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  span.first-letter {
    color: #CFB1D4;
    font-size: 1.7rem;
    font-weight: bolder;
  }
  
  span.second-letter {
      color: #00b894;
      font-size: 1.1rem;
  }

  .angel {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    }
    
  .angel-img {
    width: 10rem;
    animation: 8s ease-in-out 1s infinite alternate angeVole;
    z-index: 10;
    position: absolute;
  } */
}  

/*** IPAD PRO PORTRAIT ***/
@media only screen and (min-device-width: 1023px) and (max-device-width: 1365px) and (orientation: portrait) {

  /* .animation {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    height: 120vh;
    width: 100vw;
    top: 0 ;
  }

  .heading-first {
    font-family: 'Sacramento', cursive;
    font-size: 10rem;
    letter-spacing: 5px;
    color: #00b894;
    text-shadow: 1px 1.3px 1px rgb(204, 203, 203);
    box-sizing: border-box;
    z-index: 1;
    width: auto;
    text-align: center;
    margin-top: 4rem;
  }

  .heading-second {
    font-family: 'Playfair Display', serif;
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 64%;
  }

  span.first-letter {
    color: #CFB1D4;
    font-size: 3.4rem;
    font-weight: bolder;
  }
  
  span.second-letter {
      color: #00b894;
      font-size: 2.4rem;
  } */
}

/*** IPAD PRO PAYSAGE ***/
@media only screen and (min-device-width: 1023px) and (max-device-width: 1365px) and (orientation: landscape) {
  
  /* .heading-first {
    font-size: 6rem;
  }
  .heading-second {
    font-family: 'Playfair Display', serif;  text-align: center;
    margin-top: 2rem;
    font-weight: 200;
    line-height: 2.3rem;
    width: 80%;
    margin: auto;
  }

  span.first-letter {
    color: #CFB1D4;
    font-size: 2rem;
    font-weight: bolder;
  }
  
  span.second-letter {
      color: #00b894;
      font-size: 1rem;
  }

  .angel-img {
    width: 10rem;
    animation: 8s ease-in-out 1s infinite  alternate angeVole;
  } */
}

/*** IPHONE X ***/
@media only screen
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {
  /* .heading-first {
      font-family: 'Sacramento', cursive;
      font-size: 5rem;
      letter-spacing: 5px;
      color: #00b894;
      text-shadow: 1px 1.3px 1px rgb(204, 203, 203);
      box-sizing: border-box;
      z-index: 1;
      width: auto;
      text-align: center;
      margin-top: 5rem;
    }

  .angel-img {
    width: 10rem;
    animation: 8s ease-in-out 1s infinite alternate angeVole;
    z-index: 10;
    position: absolute;
  }

  .bulle-img {
    width: 8vh;
    position: absolute;
    top: 1.2rem;
    right: 4.7rem;
}

  a.nav-link {
    font-size: .9rem;
  }

  .profile-title {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    color: #0B9FA1;
  } */
}

/* **IPHONE X LANDSCAPE */
@media only screen
and (min-device-width: 812px) 
and (min-device-height: 375px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) { 

    /* .heading-first {
      font-size: 4rem;
    }
    .navbar {
      padding: 1rem 2rem 0;
    }
    .angel {
      margin-top: 0;
    }
    .angel-img {
      width: 9rem;
    }
    .cloud-sixth img {
      width: 6rem;
      opacity: .9;
    } */
  }

/*** Galaxy Fold */
@media screen and (max-height: 280px) {

  /* .navbar {
    padding: .5rem;
  }

  .heading-container {
    margin-top: 0;
  }

  .heading-first {
    font-size: 2.4rem;
  }

  span.first-letter {
    font-size: 1rem;
  }

  span.second-letter {
    font-size: .8rem;
  } */
}


/*** GRANDS ECRANS > 2800px ***/
@media screen and (min-width: 2900px ) {
  
  /* .navbar {
    padding: 4rem 8rem 0;
  }

  .nav-link {
    font-size: 1rem;
  }

  .heading-first {
    font-size: 15rem;
    margin-top: 4rem;
    font-weight: 500;
  }

  .heading-second {
    margin-top: 3rem;
  }

  span.first-letter {
    font-size: 4.3rem;
  }

  span.second-letter {
    font-size: 2.7rem;
  }

  .angel-img {
    width: 25rem;
  } */
}

