/* BASIC RESETS */
html,
body {
  font-family: 'Merriweather', sans-serif;    
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  color: rgb(102, 93, 93);
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********* HERO **************/
/* HERO */
.hero {
  height: 100vh;
  background: url(images/Back-mountains.png), #E4F9F5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

.hero::after {
  content: '';
  position: absolute;
  background: url(images/clouds-bottom.svg);
  bottom: -2.7rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
}

.mountains {
  overflow: hidden;
}

.left-mountain img {
  position: absolute;
  left: -3rem;
  bottom: 0;
  width: 54%;
  z-index: -1;
}
.right-mountain {
  overflow: hidden;
  z-index: -1;
}

.right-mountain img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

/* NAVBAR BOOTSTRAP*/

header {
  height: 3rem;
  padding: 3rem;
}

#navbarNav {
  position: fixed;
  z-index: 1000000000;
}

nav .navbar {
  z-index: 15000;
  padding: 2rem 2rem .5rem;
  position: absolute;
}

.navbar-toggler-icon {
  color: #11999E;
}

.navbar-toggler {
  position: relative;
  z-index: 10000!important;
}

.nav-link {
  padding-left: 2rem;
  font-size: 1.3vh;
  position: relative;
}

nav .navbar-nav li a{
  color: #11999E !important;
  transition: color 0.3s ease;
  padding: 1.5rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

nav .navbar-nav li a:hover {
  color: #CFB1D4 !important;
  transition: color 0.3s ease;
}


/* Effet nav-link */
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #CFB1D4;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* MAIN HEADING */
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.heading-first {
  font-family: 'Sacramento', cursive;
  font-size: 9rem;
  font-weight: 600;
  letter-spacing: 5px;
  color: #00b894;
  text-shadow: 1px 1.3px 1px rgb(177, 175, 175);
  box-sizing: border-box;
  z-index: 2;
  width: auto;
  text-align: center;
  margin: 2rem 2rem;
}

.heading-second {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 2rem;
  font-weight: 200;
  line-height: 2.3rem;
  width: 100%;
  margin: auto;
}

span.first-letter {
  color: #CFB1D4;
  font-size: 3rem;
  font-weight: bolder;
}

span.second-letter {
    color: #00b894;
    font-size: 2rem;
}

/*  ANGE  */
.angel {
margin: auto;
display: flex;
justify-content: center;
position: relative;
margin-top: 3rem;
}

.angel-img {
  width: 15rem;
  animation: 8s ease-in-out 1s infinite alternate angeVole;
  z-index: 2;
  position: absolute;
  padding-top: 1rem;
}

.bulle-img {
  width: 7.5vh;
  position: absolute;
  right: 6rem;
  animation: 8s ease-in-out 1s infinite alternate angeVole;
}

/* Animation de l'ange (à affiner) */
@keyframes angeVole {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  
  }
  55% {
    transform: translateY(20px) translateX(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CLOUDS */
.animation {
  overflow: hidden;
  z-index: 1;
  height: 120vh;
  width: 100vw;
  top: 0 ;
}

.cloud-first {
  display: inline-block;
  height: auto;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  margin: 2rem;
  overflow-x: hidden;
  width: 100%;
}

.cloud-first img {
  width: 7rem;
  height: auto;
  position: relative;
  box-sizing: border-box;
  z-index: -1;
  opacity: .9;
  animation: 9s ease-out 0s infinite running cloud-first-fly;

}

@keyframes cloud-first-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-100%);
  }
  50% {
      background-repeat: no-repeat;
  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(+100%);
  }
}

.cloud-second {
  display: inline-block;
  animation: 10s ease-out 0s infinite running cloud-second-fly;
  position: absolute;
  top: 12rem;
  box-sizing: border-box;
  z-index: -1;
}

.cloud-second img {
  width: 6rem;
  height: 2rem;
  position: relative;
  box-sizing: border-box;
  opacity: .9;
}

@keyframes cloud-second-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-100px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(100px);
  }
}

.cloud-third {
  display: inline-block;
  position: absolute;
  animation: 300s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite running cloud-third-fly;
  top: 25rem;
  left: 15rem;
}

.cloud-third img {
  width: 5rem;
}

@keyframes cloud-third-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-600px) translateY(70px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(2000px);
  }
}

.cloud-fourth {
  display: inline-block;
  position: absolute;
  top: 12rem;
  left: 7rem;
  z-index: -1;
}

.cloud-fourth img {
  width: 2rem;
  height: .8rem;
  box-sizing: border-box;
}

.cloud-fifth {
  display: inline-block;
  position: absolute;
  top: 11rem;
  right: 2rem;
  z-index: -1;
  transform: rotateY(180deg);
}

.cloud-fifth img {
  width: 5rem;
  height: 2rem;
  opacity: .8;
}

.cloud-sixth {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: -1;
  transform: rotateY(180deg);
  opacity: .7;
}

.cloud-sixth img {
  width: 8rem;
  opacity: .9;
}

.cloud-seventh {
  display: inline-block;
  position: absolute;
  animation: 120s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s infinite running cloud-seventh-fly;
  top: 20rem;
  z-index: -1;
}

.cloud-seventh img {
  width: 3rem;
  height: 1rem;
  box-sizing: border-box;
}

@keyframes cloud-seventh-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-500px) translateY(70px);

  }
  50% {
      background-repeat: no-repeat;

  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(2000px);
  }
}

.cloud-eigth {
  display: inline-block;
  width: 100px;
  height: auto;
  animation: 300s ease-out 0s infinite running cloud-eigth-fly;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  margin: 2rem;
  top: 50vh;
  overflow-x: hidden;
}

.cloud-eigth img {
  width: 7vh;
  opacity: .8;
}

@keyframes cloud-eigth-fly {
  0% { 
      background-repeat: no-repeat;
      transform: translateX(-600px);
  }
  50% {
      background-repeat: no-repeat;
  }
  100% { 
      background-repeat: no-repeat;
      transform: translateX(4000px);
  }
}

/* MAIN */

.main-section {
  background: white;
}

/* INTRODUCTION */
.introduction {
  margin: 1rem 0 0;
  position: relative;
  width: 100%;
}

/* PROFILE-SECTION */
.profile-section {
  background: white;
  min-height: 30vh;
  z-index: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-left {
  display: flex;
  max-width: 100%;
  position: relative;
  align-items: center;
}

.profile-image {
  width: 25vw;
  object-fit: contain;
  /* border-radius: 20vw; */
  transform: scaleX(-1);
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(149, 141, 141, 1);
  /* background: linear-gradient(white, white, rgb(245, 243, 243)); */
}

.profile-title {
  margin: 8vh auto 0;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  color: #0B9FA1;
}

.profile-text {
  text-align: justify;
  padding: 1rem;
  color: #0B9FA1;
}

/* SERVICES SECTION */
.services-section {
  position: relative;
  z-index: 0;
  margin: 2rem;
  margin-top: 0;
  background-color: #FFFFFF;
}

.row-services-section {
  background: white;
}

.card {
  position: relative;
  z-index: 10000;
  background: transparent;
}

.card-img-top {
  width: 8vw;
  margin: auto;
  padding-bottom: 5%;
}

.card-services{
  padding: 3%;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.list-group-item {
  background: transparent;
}

.cloud-anim-one {
  animation: 8s ease-in-out 1s infinite alternate cloud-anim-one;
}

@keyframes cloud-anim-one {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud-anim-two {
  animation: 20s ease-in-out 1s infinite alternate cloud-anim-two;
}

@keyframes cloud-anim-two {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.cloud-anim-three {
  animation: 30s ease-in-out 1s infinite alternate cloud-anim-three;
}

@keyframes cloud-anim-three {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(7px);
  
  }
  55% {
    transform: translateY(19px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CLOUD DIVIDER */
.cloud-divider {
  background: white;
  margin: auto;
  width: 12rem;
  cursor: pointer;
}

/* TESTIMONIALS */

#testimonials {
  text-align: center;
  background-color: #abdbc3;
  color: #FFF;
  position: relative;
  margin: 0;
}

#testimonials::before {
  content: '';
  position: absolute;
  background: url(images/clouds-bottom.svg);
  left: 0;
  right: 0;
  width: 100%;
  height: 8vh;
  transform: rotate(0.5turn);
  top: -2vh;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-text {
  margin-top: 0;
  margin-bottom: 3rem;
}

.testimonial-image {
  width: 10%;
  margin: auto;
  margin-bottom: 1rem;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-inner {
  padding-top: 3rem;
}

/* LOADER */

.loader {
  position: absolute;
  overflow-x: hidden;
  z-index: 1000000;
  height: 120vh;
  width: 100vw;
  top: 0 ;
}

.loader-left {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  animation-iteration-count: 1;
  animation: 25s cubic-bezier(0.23, 1, 0.320, 1) 1 slideToLeft;
  z-index: 10000;
}

.loader-left::after {
  content: '';
  background: url(images/clouds-bottom-left.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.loader-right {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  z-index: 1;
  animation-iteration-count: 1;
  animation: 20s cubic-bezier(0.23, 1, 0.320, 1) slideToRight;
  right: 0;
}

.loader-right::before {
  content: '';
  background: url(images/clouds-bottom-right.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 130%;
  height: 100%;
  position: absolute;
  right: 50%;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(+200%);
    opacity: 0;
  }
}

/********** MEDIAS QUERIES **************/


/* ***********   MOBILE PORTRAIT     *********** */


/* ***********   MOBILE PAYSAGE     *********** */


/***** IPAD PORTRAIT ******/

/****** IPAD PAYSAGE ******/


/*** IPAD PRO PORTRAIT ***/


/*** IPAD PRO PAYSAGE ***/


/*** IPHONE X ***/


/* **IPHONE X LANDSCAPE */


/*** Galaxy Fold */


/*** GRANDS ECRANS > 2800px ***/

